.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 17vh; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.map-container > div > div {
  position: static !important;
}

.center {
  text-align: center !important;
}

.center button {
  margin: 0 5px;
}

.loading {
  padding-top: 30px;
}

.loading a {
  outline: none !important;
  border: none !important;
}